/*Color Palette 159233*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    background: url(haunted-house.gif) no-repeat center center fixed;
    background-size: cover;
}
h1{
    font-family: 'Nosifer', cursive;
}
header{
    text-align: center;
    color: #f2eee5;
    margin: 3rem;
    font-size: 2rem;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:  #f2eee5;
    font-weight: bold;
}

h2{
    padding: 4rem;
    text-align: justify;
    line-height: 2rem;
    background-color: #3c4245;
    opacity: 0.8;
    border-radius: 1rem;
    margin: 2rem 2rem;
}

    form{
        text-align: center;
    }
    label{
        text-align: center; 
    }
    [type=radio]{
        opacity: 0;
    }

    p:hover{
        color: crimson;
    }

a{
    height: 4em;
    width: 8em;
    display: flex; 
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #f2eee5;
    border: 3px solid #dfcdc3;
    border-radius: 5%;
    text-align: center;
    margin: 3rem;
    background-image: radial-gradient(circle, #719192, #6d8688, #687c7e, #647174, #5f6769);
}
a:hover{
    background-image: none;
    background-color: #3c4245;
    color: white;
}


@media screen and (max-width: 768px){

    h2{
        padding: 1em 2em 1em;
        font-size: 2rem;
        text-align: justify;
        line-height: 2rem;
        background-color: #3c4245;
        opacity: 0.8;
        border-radius: 1rem;
        margin: 0 2rem 1rem;
        }
        #button-container{
            display: flex;
        }
        a{
            height: 3em;
            width: 7em;
            font-size: 1.5rem;
            display: flex; 
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: #f2eee5;
            border: 3px solid #dfcdc3;
            border-radius: 5%;
            text-align: center;
            margin: 1rem;
            background-image: radial-gradient(circle, #719192, #6d8688, #687c7e, #647174, #5f6769);
        }
        a:hover{
            background-image: none;
            background-color: #3c4245;
            color: white;
        }
}
@media screen and (max-width: 576px){
    header{
        font-size: 1rem;
    }
    main{
        color:  #f2eee5;
        font-weight: bold;
        display: flex;
    }
   #button-container{
       display: flex;
   }
    
    h2{
    padding: 1em 2em 1em;
    font-size: 1.2rem;
    text-align: justify;
    line-height: 2rem;
    background-color: #3c4245;
    opacity: 0.8;
    border-radius: 1rem;
    margin: 0 2rem 1rem;
    }
    header{
        text-align: center;
        color: #f2eee5;
        margin: 1rem;
    }
    a{
        font-size: 1rem;
        height: 3em;
        width: 7em;
        display: flex; 
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: #f2eee5;
        border: 3px solid #dfcdc3;
        border-radius: 5%;
        text-align: center;
        margin: 1em;
        background-image: radial-gradient(circle, #719192, #6d8688, #687c7e, #647174, #5f6769);
    }
    a:hover{
        background-image: none;
        background-color: #3c4245;
        color: white;
    }

}