/*Color Palette 159233*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    background: url(haunted-house.gif) no-repeat center center fixed;
    background-size: cover;
}
.green{
    background: none; 
    background-color: green;
}
.red{
    background: none;
    background-color: red;
}
h1{
    font-family: 'Nosifer', cursive;
}
header{
    text-align: center;
    color: #f2eee5;
    margin: 3rem;
    font-size: 2rem;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:  #f2eee5;
    font-weight: bold;
}

#intro, #quiz-container{
    padding: 4rem;
    text-align: justify;
    line-height: 2rem;
    background-color: #3c4245;
    opacity: 0.8;
    border-radius: 1rem;
    margin: 2rem;
}

h2{
    margin: 0 1em 1em;
}

    form{
        text-align: center;
    }
    label{
        text-align: center; 
    }
    input[type="radio"]{
        opacity: 0;
    }
    input[type="radio"]:checked  ~ p{
        background-color: crimson;
        border-radius: 1rem;

    }

    p:hover{
        color: crimson;
    }

a{
    height: 4em;
    width: 8em;
    display: flex; 
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #f2eee5;
    /* border: 3px solid #c52d47; */
    border-radius: 5%;
    margin: 3rem;
    /* background-image: radial-gradient(circle, #dc143c, #c52d47, #ac3c4f, #924553, #774b54);} */
}
a:hover{
    background-image: none; 
    background-color: crimson;
}

.btn-grad {background-image: linear-gradient(to right, #e52d27 0%, #b31217 51%, #e52d27 100%)}
.btn-grad:hover { background-position: right center; }
#submit-btn-container{
    display: flex; 
    justify-content: center;
}
.hidden{
    display: none;
}


@media screen and (max-width: 768px){

    #intro{
        padding: 1em 2em 1em;
        font-size: 2rem;
        text-align: justify;
        line-height: 2rem;
        background-color: #3c4245;
        opacity: 0.8;
        border-radius: 1rem;
        margin: 0 2rem 1rem;
        }
        #button-container{
            display: flex;
        }
        a{
            height: 3em;
            width: 7em;
            font-size: 1.5rem;
            display: flex; 
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: #f2eee5;
            border: 3px solid #dfcdc3;
            border-radius: 5%;
            text-align: center;
            margin: 1rem;
            /* background-image: radial-gradient(circle, #719192, #6d8688, #687c7e, #647174, #5f6769); */
        }
       
}
@media screen and (max-width: 576px){
    header{
        font-size: 1rem;
    }
    main{
        color:  #f2eee5;
        font-weight: bold;
        display: flex;
    }
   #button-container{
       display: flex;
   }
    
    #intro{
    padding: 1em 2em 1em;
    font-size: 1.2rem;
    text-align: justify;
    line-height: 2rem;
    background-color: #3c4245;
    opacity: 0.8;
    border-radius: 1rem;
    margin: 0 2rem 1rem;
    }
    header{
        text-align: center;
        color: #f2eee5;
        margin: 1rem;
    }
    a{
        font-size: 1rem;
        height: 3em;
        width: 7em;
        display: flex; 
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: #f2eee5;
        border: 3px solid #dfcdc3;
        border-radius: 5%;
        text-align: center;
        margin: 1em;
        /* background-image: radial-gradient(circle, #719192, #6d8688, #687c7e, #647174, #5f6769); */
    }
    a:hover{
        /* background-image: none; */
        /* background-color: #3c4245; */
        color: white;
    }

}